<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
  <title>Weather Prediction</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
        <div class="container">
            <%= link_to "WeatherPrediction", "/weather/locations", class: 'navbar-brand' %>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/weather/locations">Locations <span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</div>
<div class="container">
<%= yield %>
</div>
</body>
</html>
